@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 1rem;
}

.header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.todo-item {
  .custom-control-label {
    display: block;
  }
}

.table td {
  border: none;
}

.col-1 {
  input.form-control {
    border: none;

    &.done {
      text-decoration: line-through;
    }
  }
}

.hidden {
  display: none;
}
